source https://www.nuget.org/api/v2

framework: netstandard2.0, netcoreapp3.0
nuget BenchmarkDotNet
nuget Expecto
nuget Expecto.FsCheck
nuget Expecto.VisualStudio.TestAdapter
nuget FSharp.Core
nuget FSharpx.Collections
nuget Ply
nuget System.Memory
nuget System.ValueTuple

group Build
source https://www.nuget.org/api/v2

nuget FAKE